<head>
    <title>DAHER - LogFlow</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lobster|Quicksand:400,700|Ubuntu:400,700|Pacifico|Permanent+Marker|Staatliches|Merienda" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    
</head>
<body>
    <div id="app"></div>
</body>