/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

h1,h2,h3,h4,h5,h6,#avatarWrapper>p{
  font-family: 'Open Sans', !important;
}
body{
  font-family: 'Open Sans', !important;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.hide{
  display: none;
  visibility: hidden;
}

#app{
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background-color: #3d3d3d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuItem:hover{
  background-image: linear-gradient(315deg, #60a3bc 0%, #82ccdd 74%);
  color:#fff;
}

.menuItemGreen{
  color:#27ae60;
}

.menuItemRed{
  color:#e74c3c;
}

.menuItemRed:hover{
  background-image: linear-gradient(315deg, #b33939 0%, #ff7979 74%);
  color:#fff;
}

.menuItemGreen:hover{
  background-image: linear-gradient(315deg, #009432 0%, #2ecc71 74%);
  color:#fff;
}

.menuItemActive{
  background-image: linear-gradient(315deg, #0a3d62 0%, #60a3bc 74%);
  color:#fff;
}

#title{fill:none;stroke-width:3;stroke-miterlimit:3;}
.square{stroke:#E60033;stroke-dasharray:400;stroke-dashoffset:0;-webkit-animation:dashs 10s linear forwards;-o-animation:dashs 10s linear forwards;-moz-animation:dashs 10s linear forwards;animation:dashs 10s linear forwards;}
.letter{stroke:#003260;stroke-dasharray:2000;stroke-dashoffset:0;-webkit-animation:dashl 10s linear forwards;-o-animation:dashl 10s linear forwards;-moz-animation:dashl 10s linear forwards;animation:dashl 10s linear forwards;}
.squareC{stroke:#E60033;}
.letterC{stroke:#003260;}
@-webkit-keyframes dashs {
  from {stroke-dashoffset:400}
  to{stroke-dashoffset:0}
}
@-webkit-keyframes dashl {
  from {stroke-dashoffset:2000}
  to{stroke-dashoffset:0}
}

/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

.commandeHeaderWrapper{
  height:100%;
  padding:8px;
  display:grid;
  grid-gap:32px;
  grid-template-rows:auto auto 1fr;
  grid-template-columns:auto 1fr auto;
}

.accountHeaderWrapper{
  display:flex;
  margin-bottom:24px;
  justify-content:space-between;
}

.menu{
  cursor:pointer;
  margin-bottom:auto;
}

.centeredCell{
  text-align: center;
}

.pointerStretch{
  cursor: pointer;
  align-items: stretch;
}