.appBody{
    width:100vw;
    height:100vh;
    margin:0;
    padding:32px 128px 0 160px;
    display:flex;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.titleScreenLayout{
    display:grid;
    margin-top:80px;
    grid-template-columns:1fr 250px 480px 250px 1fr;
    grid-template-rows:400px 80px 80px;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

.connectedWrapper{
    width:100vw;
    min-width:780px;
    min-height:100vh;
}

.needActivationWrapper{
    grid-column-start:2;
    grid-column-end:span 3;
    place-self:center;
}

.needActivationLogoutButton{
    margin-top:24px;
    width:128px;
    grid-column-start:2;
    grid-column-end:span 3;
    place-self:center;
}